[flake8]
ignore =
    # Black compatibility
    E203, W503,
    # Allow trace to shadow builtin module
    A005
    #place additional ignores here

per-file-ignores =
    __init__.py: F401, F403
    enums.py: D
    map.py: D,RST,DAR
    examples/analysis/*:E402
docstring-style: SPHINX
max-line-length = 120
max-complexity = 18
