ffmpeg==1.4
matplotlib==3.10.*
nd_line==0.2.*
numpy==1.26.*
opencv-python==4.9.*
openpyxl==3.1.*
pandas==2.2.*
pillow==10.3.*
pip
pyclipper==1.3.*
pygame==2.5.*
pymunk==6.6.*
quantiphy==2.19
scikit-image==0.22.*
scipy==1.14.*
seaborn==0.13.*
setuptools
shapely==1.8.*
tqdm
wheel
xlsxwriter==3.2.*
