ffmpeg
matplotlib
nd_line
numpy
opencv-python
openpyxl
pandas
pillow
pip
pyclipper==1.3.*
pygame==2.5.*
pymunk==6.6.*
quantiphy>=2.18,<=2.19
scikit-image==0.22.*
scipy>=1.11.4,<=1.12
seaborn==0.13.*
setuptools
shapely==1.8.*
tqdm
wheel
xlsxwriter>=3.1,<=3.2
